{
  "version": 2,
  "name": "your-project-name",
  "builds": [{ "src": "index.js", "use": "@now/node-server" }],
  "env": {
    "API_KEY": "@mailgun_api_key",
    "DOMAIN": "@mailgun_domain",
    "EMAIL_TO": "@mailgun_recipient",
    "EMAIL_FROM": "@mailgun_sender",
    "SUBJECT": "Your email subject"
  },
  "alias": [
    "your-custom-domain.now.sh"
  ]
}